body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--cl-bg);
    color: var(--cl-fg);
    transition: background-color var(--color-transition), color var(--color-transition);
}

.container {
    width: 80%;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 2.5em;
    cursor: pointer;
}

.icon:active {
    transform: translateY(4%);
}

.color-slider {
    max-width: 12.5em;
    stroke: none;
    fill: var(--cl-fg);
}

