.light {
    --theme-1-primary: teal;
    --theme-1-secondary: #e6fefd;

    --theme-2-primary: #e6fefd;;
    --theme-2-secondary: teal;

    --theme-3-primary: black;
    --theme-3-secondary: #cb46f6;

    --theme-4-primary: #3c3149;
    --theme-4-secondary: violet;
}

.dark {
    --theme-1-primary: #2eb0a5;
    --theme-1-secondary: black;

    --theme-2-primary: #cb46f6;;
    --theme-2-secondary: black;

    --theme-3-primary: violet;
    --theme-3-secondary: #3c3149;

    --theme-4-primary: hotpink;
    --theme-4-secondary: #1f1a24;
}

.theme-1 {
    --cl-fg: var(--theme-1-primary);
    --cl-bg: var(--theme-1-secondary);
}

.theme-2 {
    --cl-fg: var(--theme-2-primary);
    --cl-bg: var(--theme-2-secondary);
}

.theme-3 {
    --cl-fg: var(--theme-3-primary);
    --cl-bg: var(--theme-3-secondary);
}

.theme-4 {
    --cl-fg: var(--theme-4-primary);
    --cl-bg: var(--theme-4-secondary);
}
